<%- include("partials/header.ejs") %>
<main>

        <div class="container col-xxl-8 px-4 pb-0">
          <div class="row flex-lg-row-reverse align-items-center g-5 pt-5 pb-0">
            <div class="col-10 col-sm-8 col-lg-6">
              <img src="images/man-foto.jpg" class="d-block mx-lg-auto img-fluid" alt="Foto" height="300" loading="lazy">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><span class="h1-title">Hi, this is </span><br/> My Blog</h1>
              <p class="lead">Id ornare arcu odio ut sem nulla pharetra. Sapien nec sagittis aliquam malesuada bibendum. Magna ac placerat vestibulum lectus. Luctus accumsan tortor posuere ac. In massa tempor nec feugiat nisl pretium fusce. Odio aenean sed adipiscing diam. Lobortis mattis aliquam faucibus purus in massa tempor nec.</p>        
            </div>
          </div>
        </div>

        <section id="qualification">
            <div class="container px-4 py-4" id="hanging-icons">
              <h2 class="pb-2">Here're My <br/><span class="h2-features">Blog Posts</span></h2>
              <div class="row g-4 pt-4 row-cols-1 row-cols-lg-2">
                <%if (locals.posts) { %>
                    <% for(let i=0; i<posts.length; i++) { %>
                        <div class="col d-flex align-items-start px-5">
                            <div>
                              <h3 class="fs-2 text-body-emphasis"><%= posts[i].title %></h3>
                              <p style="text-align: justify"><%= posts[i].subtitle %></p>  
                              <p><%= posts[i].date %></p> 
                              <a href="/view/<%= i%>"><button class="btn btn-primary">See more</button> </a>
                            </div>
                          </div>
                    <% } %>
                <% } %>              
              </div>
            </div>
          </section>
      
          





</main>
<%- include("partials/footer.ejs") %>